<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.svg" width="40" height="40" alt="PCS Logo">
        </a>

        {{#each admin}}
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text">Bienvenido, {{username}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/out">Salir</a>
                    </li>
                </ul>
            </div>
        {{/each}}
    </div>
</nav>

<div class="container-fluid" style="background-color: #eccfa3; min-height: 100vh">
    <div class="container p-5">
        <div class="row align-items-center p-4" style="height: 80%; background-color: white; margin: 0 auto">
            <div class="col-12 mb-5 text-md-left text-center">
                <form action="" class="form-inline justify-content-between">
                    <h4>Solicitudes de información</h4>
                    <p>Filtrar por: </p>
                    <select class="form-control col-12 col-md-3 my-1" name="time" id="time">
                        <option hidden selected disabled>Mas Reciente</option>
                        <option>Valor</option>
                    </select>
                    <select class="form-control col-12 col-md-3 my-1" name="type" id="type">
                        <option hidden selected disabled>Todos</option>
                        <option>Valor</option>
                    </select>
                </form>
            </div>

            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    {{#each table}}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true">
                                        <div class="d-md-flex justify-content-between text-center">
                                            <p>{{full_name}}</p>
                                            <p>Correo de solicitud enviado</p>
                                            <p>01/05/21</p>
                                            <p>20:05:16</p>
                                        </div>
                                    </button>
                                </h2>
                            </div>

                            <div id="{{id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md">
                                            <ul>
                                                <li>Nombre completo: {{full_name}}</li>
                                                <li>Compañia: {{company_name}}</li>
                                                <li>Número Telefónico: {{phone_number}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md">
                                            <ul>
                                                <li>Correo electrónico: {{email}}</li>
                                                <li>Fecha de contacto: {{aviso.created_at}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md text-center">
                                            <p>Acciones</p>
                                            <abotton id="delete" href=""><img src="/images/delete_admin.png" alt="" class="d-inline"></abotton>
                                            <botton id="check" href=""><img src="/images/check_admin.png" alt="" class="d-inline"></botton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <h2>Lista Vacia</h2>
                    {{/each}}
                </div>
            </div>
            <div class="col-12">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Atras</a></li>
                        {{!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> --}}
                        <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                    </ul>
                </nav>


            {{!-- ELIMINAME --}}
                {{!-- <div class="col-12 col-md text-center">
                                            <p>Acciones</p>
                                            <botton id="delete" href=""><img src="/images/delete_admin.png" alt="" class="d-inline"></botton>
                                            <botton id="check" href=""><img src="/images/check_admin.png" alt="" class="d-inline"></botton>
                                        </div> --}}
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-light" style="background-color: #4e6672">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 text-center text-md-left py-5">
                <h2>Nuestras Certificaciones</h2>
                <img src="/images/certificaciones.png" alt="certificationes" class="py-3" width="100%">
                <img src="/images/redes_logo.png" alt="reds" class="py-3" width="100%">
            </div>
            <div class="col-12 col-md-7 text-center text-md-right py-5">
                <h2>Nuestras Oficionas</h2>
                <p class="mb-0 text-light">NYC Address: 515 Madison Ave 8th Fl Mailbox 8080  New York, NY 10022</p>
                <p class="mb-0 text-light">New Paltz, NY Address: 22 North Oakwood Terrace, New Paltz, NY 12561</p>
                <p class="mb-0 text-light">Newburgh, NY Address: 112 Fletcher Drive North, Newburgh NY 12550</p>
                <p class="mb-0 text-light">Lima, Peru Address: Las Musas 199th St, 16th Fl San Borja, Lima, Peru</p>
                <p class="mt-5 text-light">PCS Orange © 2021 - TODOS LOS DERECHOS RESERVADOS</p>
            </div>
        </div>
    </div>
    <div class="container border-top" style="height: 100px;">
    </div>
</footer>