<div class="container-fluid" style="background-color: #eccfa3">
    <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
            <div class="col-12" style="width: 80%; height: 80%; background-color: white; margin: 0 auto">
                <div class="text-center py-5">
                    {{#each table}}
                            <p>{{full_name}}</p>
                            <p>{{company_name}}</p>
                            <p>{{phone_number}}</p>
                            <p>{{email}}</p>
                            <p>{{timeago aviso.created_at}}</p>
                        {{else}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>